#box
{
    height:500px;
    width:700px; 
    background-color: rgb(225, 200, 142);
    display:flex;
    margin:0 auto;
    align-items: center;
    justify-content: space-between;
    /* padding:120px; */
    align-items: center;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow:0px 0px 10px white;
   /* border: 4px solid #000000;
    box-shadow: 100px 100px rgb(0, 0, 0);*/
}
#box1
{
    background-color: rgb(245, 237, 215);
    height:450px;
    width:380px ;
    margin-left :5px;
}

 #h2
{
    background-color: #a02626;
    color: white;
    font-family: sans-serif;
    font-size: large;
    border-radius: 6px;
}
#box2
{
    background-color: rgba(35, 21, 1, 0.669);
    height:450px;
    width:380px;
    margin-right: 5px;
    
    
    
} 
ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-top: 3rem;
    margin-left: -1.2rem;
   
}
ul li{
    background-color: silver;
    padding: 5px;
    border-radius: 5px;
}

button
{
    background-color: #a02626;
    color: white;
    font-family: sans-serif;
    font-size: larger;
    border-radius: 10px;
    transition: 0.3s;
    margin-left: 7rem;
    margin-top:  2rem; 
}
button:hover
{
    background-color: rgb(17, 78, 128);
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
}

#box2 h2
{
    background-color: rgb(225, 200, 142);
    color: rgb(35, 21, 1, 0.669);
    text-align: center;
}

#box2 h3
{
    color: rgb(225, 200, 142);
    margin-left: 1rem;
    margin-top: -13px;
    
}
#p1
{
    background-color: rgb(225, 200, 142);
    color: rgb(35, 21, 1, 0.669);
    margin-left: 1rem;
    font-size: larger;
}
#p2
{
    color: rgb(225, 200, 142);
    margin-left: 1rem;
    font-size: larger;
    margin-top: -12px;
}
#p3
{
    background-color: rgb(225, 200, 142);
    color: rgb(35, 21, 1, 0.669);
    margin-left: 1rem;
    font-size: larger;
}
#p4
{
    color: rgb(225, 200, 142);
    margin-left: 1rem;
    font-size: larger;
    margin-top: -12px;
}

#p5
{
    background-color: rgb(225, 200, 142);
    color: rgb(35, 21, 1, 0.669);
    margin-left: 1rem;
    font-size: larger;
}

a
{
    color: rgb(225, 200, 142);
    margin-left: 1rem;
    font-size: larger;
    margin-top: -12px;
    transition: 0.3s;
}
a:hover
{
    color: aliceblue;
    /*transform: translateY(-7px);*/
}